<html>
   <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <title>Comma Separated Values</title>
       <link href="global.css" rel="stylesheet" type="text/css">
       
       <script src="http://code.jquery.com/jquery-1.11.0.min.js"> </script>
       <script src="http://underscorejs.org/underscore.js"> </script>
       <script type="text/javascript" src="CommaSeparatedValue_JM.js"></script>

       <script type="text/html" id="tabla">
        <table id="resultado" class="center">
          <% _.each(items, function(name) { %>
            <tr class="<%= name.rowc %>">
              <% _.each(name.value, function(celda) { %>
                <td><%= celda %></td>
              <% }); %>
            </tr>
          <% }); %>
        </table>
       </script>

   </head>

   <body>
   <center>
      <h1><br>Comma Separated Values</h1>
      <h3><br><br>Introduzca datos en el cuadro de texto en <a href="http://en.wikipedia.org/wiki/Comma-separated_values">formato CSV</a> y pulse el boton <i>"Mostrar tabla"</i></h3>
      <table>
          <tr>
              <th> Datos CSV </th>
              <td> <textarea id="datosIN" autofocus rows="5" cols="80"> </textarea> </td>
          </tr>

      </table>
      <button type="button">Mostrar tabla</button>
      <br><br>
      <span class="output" id="tablaResultados"></span>

      <a href="tests/index.html"><br><br> Tests Unitarios (Mocha.js, Chai.js) </a>
      </center>
   </body>
</html>
